ProyBancoPeru/BancoPeru/Connected Services/ProxyPrestamo/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" />
  <xs:element name="GetAllPrestamosClienteFechasLINQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" type="xs:int" />
        <xs:element minOccurs="0" name="ficini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrestamosClienteFechasLINQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" minOccurs="0" name="GetAllPrestamosClienteFechasLINQResult" nillable="true" type="q1:ArrayOfPrestamoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrestamosClienteSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrestamosClienteSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" minOccurs="0" name="GetAllPrestamosClienteSPResult" nillable="true" type="q2:ArrayOfPrestamoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrestamoLINQ">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrestamoLINQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" minOccurs="0" name="GetAllPrestamoLINQResult" nillable="true" type="q3:ArrayOfPrestamoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>