ProyBancoPeru/BancoPeru/Connected Services/ProxyPrestamo/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiciosPrestamo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiciosPrestamo_GetAllPrestamosClienteFechasLINQ_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrestamosClienteFechasLINQ" />
  </wsdl:message>
  <wsdl:message name="IServiciosPrestamo_GetAllPrestamosClienteFechasLINQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrestamosClienteFechasLINQResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosPrestamo_GetAllPrestamosClienteSP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrestamosClienteSP" />
  </wsdl:message>
  <wsdl:message name="IServiciosPrestamo_GetAllPrestamosClienteSP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrestamosClienteSPResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosPrestamo_GetAllPrestamoLINQ_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrestamoLINQ" />
  </wsdl:message>
  <wsdl:message name="IServiciosPrestamo_GetAllPrestamoLINQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrestamoLINQResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiciosPrestamo">
    <wsdl:operation name="GetAllPrestamosClienteFechasLINQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosPrestamo/GetAllPrestamosClienteFechasLINQ" message="tns:IServiciosPrestamo_GetAllPrestamosClienteFechasLINQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosPrestamo/GetAllPrestamosClienteFechasLINQResponse" message="tns:IServiciosPrestamo_GetAllPrestamosClienteFechasLINQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrestamosClienteSP">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosPrestamo/GetAllPrestamosClienteSP" message="tns:IServiciosPrestamo_GetAllPrestamosClienteSP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosPrestamo/GetAllPrestamosClienteSPResponse" message="tns:IServiciosPrestamo_GetAllPrestamosClienteSP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrestamoLINQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosPrestamo/GetAllPrestamoLINQ" message="tns:IServiciosPrestamo_GetAllPrestamoLINQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosPrestamo/GetAllPrestamoLINQResponse" message="tns:IServiciosPrestamo_GetAllPrestamoLINQ_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiciosPrestamo" type="tns:IServiciosPrestamo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPrestamosClienteFechasLINQ">
      <soap:operation soapAction="http://tempuri.org/IServiciosPrestamo/GetAllPrestamosClienteFechasLINQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrestamosClienteSP">
      <soap:operation soapAction="http://tempuri.org/IServiciosPrestamo/GetAllPrestamosClienteSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrestamoLINQ">
      <soap:operation soapAction="http://tempuri.org/IServiciosPrestamo/GetAllPrestamoLINQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosPrestamo">
    <wsdl:port name="BasicHttpBinding_IServiciosPrestamo" binding="tns:BasicHttpBinding_IServiciosPrestamo">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiciosBancoPeru/ServiciosPrestamo/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>