ProyBancoPeru/BancoPeru/Connected Services/ProxyCliente/ServiciosBancoPeru.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteBE" nillable="true" type="tns:ClienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteBE" nillable="true" type="tns:ArrayOfClienteBE" />
  <xs:complexType name="ClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_Cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Cli" type="xs:float" />
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dir_Cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni_Cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_Cli" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteBE" nillable="true" type="tns:ClienteBE" />
</xs:schema>