ProyBancoPeru/BancoPeru/Connected Services/ProxyEmpleado/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" />
  <xs:element name="InsertEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" minOccurs="0" name="objCliente" nillable="true" type="q1:EmpleadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEmpleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpleadoLINQ">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpleadoLINQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" minOccurs="0" name="GetAllEmpleadoLINQResult" nillable="true" type="q2:ArrayOfEmpleadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNombresEmpleadoLINQ">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNombresEmpleadoLINQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" minOccurs="0" name="ListarNombresEmpleadoLINQResult" nillable="true" type="q3:ArrayOfEmpleadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" minOccurs="0" name="GetClienteSucursalResult" nillable="true" type="q4:ArrayOfEmpleadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" minOccurs="0" name="GetEmpleadoResult" nillable="true" type="q5:ArrayOfEmpleadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>