ProyBancoPeru/BancoPeru/Connected Services/ProxyEmpleado/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiciosEmpleado" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiciosEmpleado_InsertEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServiciosEmpleado_InsertEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosEmpleado_GetAllEmpleadoLINQ_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmpleadoLINQ" />
  </wsdl:message>
  <wsdl:message name="IServiciosEmpleado_GetAllEmpleadoLINQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmpleadoLINQResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosEmpleado_ListarNombresEmpleadoLINQ_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarNombresEmpleadoLINQ" />
  </wsdl:message>
  <wsdl:message name="IServiciosEmpleado_ListarNombresEmpleadoLINQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarNombresEmpleadoLINQResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosEmpleado_GetClienteSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteSucursal" />
  </wsdl:message>
  <wsdl:message name="IServiciosEmpleado_GetClienteSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosEmpleado_GetEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServiciosEmpleado_GetEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiciosEmpleado">
    <wsdl:operation name="InsertEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosEmpleado/InsertEmpleado" message="tns:IServiciosEmpleado_InsertEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosEmpleado/InsertEmpleadoResponse" message="tns:IServiciosEmpleado_InsertEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmpleadoLINQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosEmpleado/GetAllEmpleadoLINQ" message="tns:IServiciosEmpleado_GetAllEmpleadoLINQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosEmpleado/GetAllEmpleadoLINQResponse" message="tns:IServiciosEmpleado_GetAllEmpleadoLINQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarNombresEmpleadoLINQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosEmpleado/ListarNombresEmpleadoLINQ" message="tns:IServiciosEmpleado_ListarNombresEmpleadoLINQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosEmpleado/ListarNombresEmpleadoLINQResponse" message="tns:IServiciosEmpleado_ListarNombresEmpleadoLINQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosEmpleado/GetClienteSucursal" message="tns:IServiciosEmpleado_GetClienteSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosEmpleado/GetClienteSucursalResponse" message="tns:IServiciosEmpleado_GetClienteSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosEmpleado/GetEmpleado" message="tns:IServiciosEmpleado_GetEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosEmpleado/GetEmpleadoResponse" message="tns:IServiciosEmpleado_GetEmpleado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiciosEmpleado" type="tns:IServiciosEmpleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServiciosEmpleado/InsertEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmpleadoLINQ">
      <soap:operation soapAction="http://tempuri.org/IServiciosEmpleado/GetAllEmpleadoLINQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarNombresEmpleadoLINQ">
      <soap:operation soapAction="http://tempuri.org/IServiciosEmpleado/ListarNombresEmpleadoLINQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteSucursal">
      <soap:operation soapAction="http://tempuri.org/IServiciosEmpleado/GetClienteSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServiciosEmpleado/GetEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosEmpleado">
    <wsdl:port name="BasicHttpBinding_IServiciosEmpleado" binding="tns:BasicHttpBinding_IServiciosEmpleado">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiciosBancoPeru/ServiciosEmpleado/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>