ProyBancoPeru/BancoPeru/Connected Services/ProxyEmpleado/ServiciosBancoPeru.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosBancoPeru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmpleadoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_Emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Depa" type="xs:float" />
      <xs:element minOccurs="0" name="Cod_Emp" type="xs:float" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dir_Emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni_Emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_Emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Ing" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nom_Emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sue_Emp" type="xs:float" />
      <xs:element minOccurs="0" name="Tel_Emp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadoBE" nillable="true" type="tns:EmpleadoBE" />
  <xs:complexType name="ArrayOfEmpleadoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpleadoBE" nillable="true" type="tns:EmpleadoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleadoBE" nillable="true" type="tns:ArrayOfEmpleadoBE" />
</xs:schema>